body{
    overscroll-behavior-y: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

a:visited {
    color: rgb(30, 30, 30);
}

a:link {
    color: rgb(100, 100, 100);
}

.slider-wrap{
    position: fixed;
    width: 80%;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* Negative half of height. */
    margin-left: -40%; /* Negative half of width. */
    overflow-y: visible;
}

.slider{
    position: relative;
    margin: auto;
    height: 100%;
    width: 3600px;
    display: flex;
    will-change: transform;
    overflow-y: visible;
}

.slider-item{
    position: relative;
    flex: 1;
    overflow-x: hidden;
}

.img-div{
    position: relative;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.rating-wrap{
    position: fixed;
    display: flex;
    height: 50px;
    top: 50%;
    left: 50%;
    z-index: 10;
    /* margin-top: 220px; Negative half of height. */
    margin-left: -90px; /* Negative half of width. */
}